{% extends 'account/main.html' %}

{% block content %}
<br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h3>Customers</h3>
            </div>
            <br>
            <div class="card card-body">
                <form method="get">

                {{ filter.form }}
                
                <br>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
            <br>
            <div class="card card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Date Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{customer.name}}</td>
                                <td>{{customer.phone}}</td>
                                <td>{{customer.email}}</td>
                                <td>{{customer.date_created|date:"d/m/Y, H:i:s"}}</td>
                                <td><a role="button" class="btn btn-info btn-block btn-sm"
                                    href="{% url 'account_customer' customer.id %}">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}