{% extends 'account/main.html' %}

{% block content %}
<br>

<div class="row">
	<div class="col-md-4 mb-3">
		<div class="card card-body">
			<h5>{{customer.name}}</h5>
			<hr>
			<p><u>Email</u>: {{customer.email}}</p>
			<p><u>Phone</u>: {{customer.phone}}</p>
		</div>
	</div>

	<div class="col-md-4 mb-3"> 
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_orders}}</h1>
		</div>
	</div>

	<div class="col-md-4 mb-3">
		<div class="card card-body">
			<h5>Actions</h5>
			<hr>
			<a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'account_create_order' customer.id %}">New order</a>
			<a class="btn btn-outline-warning btn-sm btn-block" href="">Update Customer</a>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

			{{ filter.form }}

			<br>			
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm table-bordered table-hover">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th colspan="2">Actions</th>
				</tr>

				{% for order in orders %}
					<tr>
                        <td>{{order.product.name}}</td>
                        <td>{{order.note}}</td>
						<td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-outline-warning btn-block btn-sm" href="{% url 'account_update_order' order.id %}">Update</button></td>
                        <td><a class="btn btn-outline-danger btn-block btn-sm" href="{% url 'account_delete_order' order.id %}">Delete</button></td>
                    </tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}