{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<img id="logo" src="{% static '/images/logo.png' %}" href="#">-->
    <a class="navbar-brand" href="{% url 'account_home' %}">Python-CMR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% with url_name=request.resolver_match.url_name %}
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
        <li class="nav-item {% if url_name == 'account_home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_home' %}">Dashboard</a>
        </li>
        <li class="nav-item {% if url_name == 'account_products' %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_products' %}">Products</a>
        </li>
        <li class="nav-item {% if url_name == 'account_customers' %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_customers' %}">Customers</a>
        </li>
        <li class="nav-item {% if url_name == 'account_orders' %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_orders' %}">Orders</a>
        </li>
        <li class="nav-item {% if url_name == 'account_videos' %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_videos' %}">Videos</a>
        </li>
        {% else %}
         <li class="nav-item {% if url_name == 'account_user_settings' %}active{% endif %}">
          <a class="nav-link" href="{% url 'account_user_settings' %}">Settings</a>
        </li>
        {% endif %}
      </ul>
      {% endwith %}
    </div>

    <span class="text-light mr-3">Welcome back, {{ request.user }}</span>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'account_logout' %}">Logout</a>
  </nav>