{% extends 'account/main.html' %}

{% block content %}

{% include 'account/status.html' %} 

<br>

<div class="row">
	<div class="col-md">
        {% if total_orders > 0 %}
        <div class="card card-body">
            <h3>Your last orders, {{ name }}</h3>
        </div>
        <br>
        {% endif %}

        {% if total_orders > 0 %}
		<div class="card card-body">
			<table class="table table-sm table-bordered table-hover">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Ordered</th>
					<th>Status</th>
				</tr>

				{% for order in orders %}
					<tr>
                        <td>{{order.product.name}}</td>
                        <td>{{order.note}}</td>
						<td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                    </tr>
				{% endfor %}
			</table>
		</div>
        {% else %}
        <div class="card card-body">
            <h4>There's not orders yet...</h4>
        </div>
        {% endif %}
	</div>
</div>

{% endblock content %}